 <body class="p-3 m-0 border-0 bd-example m-0 border-0">
    <div class="container text-left">
        <div class="row">
            <div class="col">
                <nav class="navbar bg-primary" data-bs-theme="">
                    <nav class="navbar navbar-expand-lg bg-body-tertiary">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="#">SISTEMA WEB</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="#">cadastrar</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">consultar</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </nav>
    
                <h6>Cadastrar - Agendamentos de Potencias Clientes</h6>
    
                <h6>Sistema utilizado para agendamentos de serviço.</h6>
    
                <label for="inputPassword5" class="form-label">Nome:</label>
                <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
                <div id="passwordHelpBlock" class="form-text">
                </div>
                <div class="mb-3">
                    <label for="disabledSelect" class="form-label">Origem:</label>
                    <select id="disabledSelect" class="form-select">
                        <option>Telefone</option>
                    </select>
                </div>
    
    
                <div class="mb-3">
                    <label for="disabledSelect" class="form-label">Data do contato:</label>
                    <select id="disabledSelect" class="form-select">
                        <option>mm/dd/yyyy</option>
                    </select>
                </div>
    
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Observação</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
    
                <button type="button" class="btn btn-primary">cadastrar</button>
    
            </div>
        </div>
    </div>